
 <div class="answer">
  <h1>Supid coach</h1>
<div class="you">
 <p><%= @question  %> </p>
 <p>-You</p>
 </div>
 <div class="stupid">
 <p><%= @answer  %> </p>
 <p>-Stupid coach</p>
 </div>
<%= link_to "Ask", "/ask" %>
</div>
