// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
}

.button {
  background-color: #e8d3ff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 10px #deecff;
}

.input {
  padding: 10px 20px;
  border-radius: 3px;
}

form {
  margin-top: 20px;
}

h1 {
  color: #c6cfff;
}

p {
  font-size: 15px;
  text-align: left;
  padding-left: 7px;
}

a {
  text-align: left;
}

.answer{
  width: 300px ;
  margin-left: 30px;
  margin-top: 40px;
}

.you {
  border-left: 6px solid #e8d3ff;

}

.stupid {
  border-left: 6px solid #e8d3ff;
}
